@font-face{
    font-family:"Bebas";
    src:url('BebasNeue-Regular.ttf');
}

body {
    background: black;
    overflow-x: hidden;
    padding-bottom: 30px;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center; 
    transition: opacity 0.5s ease-out;
}

h1{
    color:white;
    font-family:"Bebas";
    font-size: 10vw;
    position: absolute;
    left: 50%;
    bottom: 41%;
    margin:0;;
    transform:translateX(-50%);
    top: 27vh;
    text-align: center;
}

.navborder{
    position: fixed;
    top: 4lvh;
    width: 100%;
    height: 2px; 
    background-color: white;
}

nav {
    position: fixed;
    top: 7vh;
    width: 100%;
    background-color: black;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.description{
    font-family: Bebas;
    font-size: 1.4vw;
    color:white;
    position:absolute; 
    left: 50%;
    bottom: 44%;
    margin: 0;
    transform:translateX(-50%);
    top: 48vh;
    width: 80%;
    text-align: center;
}



.author{
    color:white;
    text-align: center;
    position:absolute;
    bottom:0;
    left:85vh;
    top:91%;
    font-size:.9vw;
    font-family:"Bebas";

}

ul{
    list-style: none;
    text-align: center;
    font-family:"Bebas";
    position: fixed;
    left: 44vh;
    flex-direction: row;
}

ul li{
    display: inline-block;
    position: relative;
    padding: 2px 35px;
    flex-direction: row;
}

ul li a{
    display: block; 
    padding: 2px 35px;
    color:white;
    text-align: center;
    text-decoration:none;
    font-size: 20px;
    flex-direction: row;
}


nav ul li a:hover {
    background: white;
    color: black;
    opacity: 0.5;
}

.textbox{
    margin-top: 300vh; 
    text-align: center;
    padding-top: 95px;
    padding-bottom: 10px;
    background-color: black;
}
